#menu ul,
#menu li {
  margin:  0;
  padding: 0 0;
  list-style: none
}
#menu a {
  display: block;
  line-height: 35px;
  padding: 0 14px;
  text-decoration: none;
  color: #eee;
}
#menu ul.menus {
  height: auto;
  width: 180px;
  background: rgb(56, 52, 52);
  position: absolute;
  z-index: 99;
  display: none;
  border: 0;
}
#menu li:hover ul.menus {
  display: block
}
#menu ul.menus a:hover {
  background: rgb(26, 139, 231);
}

 
  
 
#menu
{
  list-style-type:none;
}
#menu li a:hover
{
  color:White;
  background-color:#1d6ace;
}
        
#menu a:hover
{
  color:White;
}

#toolbar-container {
	border-top-left-radius: 0;
	border-top-right-radius: 0;

	width: 23cm;
	box-shadow: 2px 2px 1px rgba(0,0,0,.05);

}
#editor {
	border-top-left-radius: 0;
	border-top-right-radius: 0;

	width: 23cm;
	min-height: 15cm;
	padding: 1cm 1cm 2cm;
	box-shadow: 2px 2px 1px rgba(0,0,0,.05);
  overflow-y: scroll;
  border: 1px solid #abb2b6;			


}
 
